<%- include('./partials/head') %>

  <header>
    <a href="/" class="current-page">Members</a>
    <a href="/homepage" class="other-page">Home</a>
  </header>

  <audio id="myAudio">
    <source src="/assets/Sprinter-Remix.mp3" type="audio/mpeg">
  </audio>

  <section class="intro">
    <h2 class="first-liner">Welcome to the members-page.</h2>
    <button class="randomAhButton" onclick="playSong()">CLICK FOR MUSIC (No pause btw)</button>
    <h2 class="second-liner">Get to know each one of us.</h2>
    <h3 class="scroll-text">scroll down to see more</h3>
  </section>

  <section class="squad">
    <h1>Squad 1E</h1>
    <button class="filter-bt">Filter</button>
    <button class="filter-bt">Naam A-Z</button>
  </section>

  <section class="students">

    <% persons.forEach(person=> { %>

      <article class="student">

        <a href="<%= person.website %>" alt="" class="simple-text">
          <img src="<% if (person.avatar) { %>
                <%= person.avatar %>
              <% } else { %>
                /images/profile-img.jpeg
          <% } %>" alt="Avatar of student" class="img-student">
          <p>
            <%= person.name %>
              <p>
        </a>
      </article>
      <% }) %>

  </section>

  <!-- <div class="cursor"></div>
  <div class="cursor2"></div> -->

  <%- include('./partials/foot') %>